# Python
__pycache__/
*.pyc

# Virtual environment
brain_tumor_env/
venv/

# Dataset
data/

# Model files
models/*.pth

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log